*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#btn {
    padding: 20px;
    border: none;
    background: #4C1E4F;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
}

#btn:hover{
    background: #C36AC8;
}